@import ./_variables
.menu__card
    border-radius: 15px
    background: #FFF
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10)
    margin-bottom: 12px
    cursor: pointer
    display: grid
    grid-template-columns: 1fr 0
    transition: all 500ms ease-in-out
    &:hover
        grid-template-columns: 1fr 59px
    .menu__txt
        padding: 15px
        display: grid
        grid-template-columns: 1fr 30px
        align-items: flex-end
        gap: 15px
        .menu__card-title
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
            h4
                overflow: hidden
                color: #000
                text-overflow: ellipsis
                white-space: nowrap
                font-size: 18px
                font-weight: 500
            h5
                overflow: hidden
                color: #000
                text-overflow: ellipsis
                white-space: nowrap
                font-size: 15px
                font-weight: 300
        p
            color: #353535
            font-size: 15px
            font-weight: 700
    .menu__confirmation
        display: flex
        align-items: center
        justify-content: center
        background-color: #99E2D0
        width: 100%
        height: 100%
        border-radius: 0 15px 15px 0
        overflow: hidden
/* Desktop version*/
@media (min-width: 768px) 
    header
        a
            position: absolute
            top: 35%
            left: 2%
        .header__logo
    .bg-img
        img
            width: 100%
            height: 50vh
            object-fit: cover
    .menu
        background-color:#F6F6F6
        position: relative
        margin-top: -40px
        border-radius: 7% 7% 0 0
        margin-left: 192px
        margin-right: 193px
        .menu__title
            padding-top: 51px
            display: flex
            align-items: center
            justify-content: center
            h1
                color: #101010
                font-family: Shrikhand
                font-size: 28px
                font-style: normal
                font-weight: 400
                line-height: normal
            i
                font-size: 21px
        .menu__section
            padding-left: 210px
            padding-right: 211px
            h3
                color: #000
                font-family: Roboto
                font-size: 16px
                font-style: normal
                font-weight: 300
                line-height: normal
                text-transform: uppercase
                padding-bottom: 8px
                margin-bottom: 12px
                position: relative
                padding-top: 40px
            h3:after
                content: ""
                position: absolute
                bottom: 0
                left: 0
                width: 40px
                height: 3px
                background-color:#99E2D0     
        .menu__order
            display: flex
            justify-content: center
            padding-bottom: 40px
            .btn-order
                border-radius: 25px
                background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%))
                border: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%))
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)
                color:  #FFF
                text-align: center
                font-size: 16px
                font-style: normal
                font-weight: 500
                line-height: normal
                padding: 16px 48px 15px 49px
                margin-top: 40px
                margin-bottom: 40px
                cursor: pointer
@media (max-width: 768px) 
    header
        display: flex
        align-items: center
        justify-content: center
        padding: 14px 89px 13px 17px
        gap: 42px
        @media (min-width: 768px) 
            padding: 30px 0px 31 0px
            align-self: stretch
            position: relative
            height: 96px
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25)
        i
            font-size: 30px
        .header__logo 
            font-family: "Shrikhand", "cursive"
            margin: 0
            text-align: center
    .bg-img
        height: 275px
    img
        height: 275px
        width: 100%
    .menu
        background-color:#F6F6F6
        position: relative
        margin-top: -40px
        border-radius: 7% 7% 0 0
        .menu__title
            padding: 32px 17px 40px 17px
            display: flex
            align-items: center
            justify-content: space-around
            h1
                color: #101010
                font-family: Shrikhand
                font-size: 28px
                font-style: normal
                font-weight: 400
                line-height: normal
            i
                font-size: 21px
        .menu__section
            padding: 0 13px 40px 13px
            h3
                color: #000
                font-family: Roboto
                font-size: 16px
                font-style: normal
                font-weight: 300
                line-height: normal
                text-transform: uppercase
                padding-bottom: 8px
                margin-bottom: 12px
                position: relative
            h3:after
                content: ""
                position: absolute
                bottom: 0
                left: 0
                width: 40px
                height: 3px
                background-color:#99E2D0
        .menu__order
            display: flex
            justify-content: center
            padding-bottom: 40px
            .btn-order
                border-radius: 25px
                background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%))
                border: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%))
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)
                color:  #FFF
                text-align: center
                font-size: 16px
                font-style: normal
                font-weight: 500
                line-height: normal
                padding: 16px 48px 15px 49px
